/* @font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/robotoregular.woff2') format('woff2'),
    url('../fonts/robotoregular.woff') format('woff')
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/robotobold.woff2') format('woff2'),
    url('../fonts/robotobold.woff') format('woff')
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
}

img {
  display: block;
}

.container {
  width: 1040px;
  margin: 0 auto;
  padding: 0 20px;

}

.list-unstyled {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.link-unstyled {
  display: block;
  text-decoration-line: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.site-header {
  padding: 30px 0;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

.head-list {
  display: flex;
  align-items: center;
}

.head-item {
  margin-right: 30px;
}

.head-item-link {
  color: #333;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.head-item:last-child {
  margin-right: 40px;
}

.head-input {
  width: 160px;
  border: 0;
  padding: 6px 5px;
  border-bottom: 1px solid #333;
}

.head-input::placeholder {
  color: #666;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.hero {
  padding: 140px 0 183px;
  background-image: url("../images/intro-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 530px) calc(50% + 23px);
  border-bottom: 2px solid #ddd;
}

.same-inner {
  width: 490px;

}

.same-title {
  color: #000;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;

}

.same-wrapper {
  border-left: 3px solid #888;
  padding-left: 40px;
  margin-bottom: 30px;
}

.same-desc {
  color: #777;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.same-link {
  width: 260px;
  padding: 12px;
  background-color: #ea625c;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.infos {
  padding: 70px 0;
}

.infos-list {
  display: flex;
  justify-content: space-between;
}

.infos-item {
  width: 280px;
}

.infos-subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  color: #222;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
}

.infos-desc {
  margin: 0 0 20px;
  color: #333;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.infos-square-wrapper {
  display: flex;
  align-items: center;
}

.infos-square {
  display: block;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  background-color: #ddd;
}

.infos-link-line {
  display: inline-block;
  width: 40px;
  height: 3px;
  margin-right: 10px;
  margin-bottom: 3px;
  background-color: #ea625c;
}

.infos-link {
  display: block;
  color: #ea625c;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.band {
  padding-top: 174px;
  padding-bottom: 177px;
  background-image: url("../images/watch-in-hand.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 300px);
  background-size: 400px 600px;
}

.control {
  padding: 240px 0;
  background-image: url("../images/runners.png");
  background-repeat: no-repeat;
  background-position: calc(50%);
  background-size: cover;
}

.control-wrapper {
  display: flex;
  justify-content: flex-end;
}

.control-title {
  color: #fff;
  line-height: 60px;
}

.control-desc-wrapper {
  border-left-color: #fff;
}

.control-desc {
  color: #fff;
} */


/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/robotoregular.woff2') format('woff2'),
    url('../fonts/robotoregular.woff') format('woff')
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/robotobold.woff2') format('woff2'),
    url('../fonts/robotobold.woff') format('woff')
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
}

img {
  display: block;
}

.container {
  width: 1040px;
  margin: 0 auto;
  padding: 0 20px;

}

.list-unstyled {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.link-unstyled {
  display: block;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.site-header {
  padding: 30px 0;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-item {
  margin-right: 30px;
}

.head-item-link {
  color: #333;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.head-item:last-child {
  margin-right: 40px;
}

.head-input {
  width: 160px;
  border: 0;
  padding: 6px 5px;
  border-bottom: 1px solid #333;
}

.head-input::-webkit-input-placeholder {
  color: #666;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.head-input::-moz-placeholder {
  color: #666;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.head-input:-ms-input-placeholder {
  color: #666;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.head-input::-ms-input-placeholder {
  color: #666;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.head-input::placeholder {
  color: #666;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.hero {
  padding: 140px 0 183px;
  background-image: url("../images/intro-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 530px) calc(50% + 23px);
  border-bottom: 2px solid #ddd;
}

.same-inner {
  width: 490px;

}

.same-title {
  color: #000;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;

}

.same-wrapper {
  border-left: 3px solid #888;
  padding-left: 40px;
  margin-bottom: 30px;
}

.same-desc {
  color: #777;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.same-link {
  width: 260px;
  padding: 12px;
  background-color: #ea625c;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.infos {
  padding: 70px 0;
}

.infos-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.infos-item {
  width: 280px;
}

.infos-subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  color: #222;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
}

.infos-desc {
  margin: 0 0 20px;
  color: #333;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.infos-square-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infos-square {
  display: block;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  background-color: #ddd;
}

.infos-link-line {
  display: inline-block;
  width: 40px;
  height: 3px;
  margin-right: 10px;
  margin-bottom: 3px;
  background-color: #ea625c;
}

.infos-link {
  display: block;
  color: #ea625c;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.band {
  padding-top: 174px;
  padding-bottom: 177px;
  background-image: url("../images/watch-in-hand.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 300px);
  background-size: 400px 600px;
}

.control {
  padding: 240px 0;
  background-image: url("../images/runners.png");
  background-repeat: no-repeat;
  background-position: calc(50%);
  background-size: cover;
}

.control-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.control-title {
  color: #fff;
  line-height: 60px;
}

.control-desc-wrapper {
  border-left-color: #fff;
}

.control-desc {
  color: #fff;
}